#myPhoto {
    float: left;
    padding: 0 20px 4px 0;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

#footer {
    text-align: center;
}

#navContainer {
    margin-left: 15%;
    margin-right: 15%;
}

/* iPhones Screens Other Than 6/7/8 */
@media screen and (max-width: 390px) {

    #navContainer {
        margin: 0;
    }

    #myName {
        font-size: 24px;
    }

    .container {
        margin: 0 auto;
        padding-top: 10%;
    }

    #myPhoto {
        margin-bottom: 5%;
        padding: 5px 20px 5px 20px;
    }
    .aboutMeHeader {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 18px;
    }
}

/* iPhones Screens 6/7/8 */
@media screen and (min-width: 405px) and (max-width: 480px) {

    #navContainer {
        margin: 0;
    }

    #myName {
        font-size: 24px;
    }

    .container {
        margin: 0 auto;
        padding-top: 5%;
    }

    #myPhoto {
        padding: 5px 30px 5px 30px;
    }
    .aboutMeHeader {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 18px;
    }
}